@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orangegradient: linear-gradient(90deg,rgba(245, 158, 11, 1) 0%, rgba(251, 191, 36, 1) 100%);
  --lightorange: #FBBF24;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightorange: var(--lightorange);
  --background-image-gradient-orange: var(--orangegradient);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --bg-image: var(--bg-image);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: montserrat;
}

.bg-hero{
  background-image: url('../images/bg-dog.jpg');
  background-size: cover;
}

.bg-dark{
  filter: brightness(15%);
}